form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 30em;
    margin: 0 auto;
}

select, input[type="text"], label, textarea, button {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
}

select, input[type="text"], textarea {
    border: 1px solid rgb(199, 199, 199);
    background-color: rgb(245, 245, 245);
}

textarea {
    resize: none;
    line-height: 2;
}

button {
    border: none;
    background-color: #68BBE3;
    color: white;
    padding: 15px;
    top: 0px;
    position: relative;
    transition: 100ms ease-out;
}

button:hover {
    top: 2px;
}

button:focus {
    background-color: #47a6d6;
}