@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

body, button, textarea, select, input[type="text"] {
  font: 14px "Roboto Mono";
}

button:hover, a:hover {
  cursor: pointer;
}